.wrap {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  border: 3px solid #2a2531;
  border-top-color: #764191;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
